@font-face {
    font-family: 'Minecraft-Regular';
    src:url('../fonts/Minecraft-Regular.ttf.woff') format('woff'),
        url('../fonts/Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
        url('../fonts/Minecraft-Regular.ttf.eot'),
        url('../fonts/Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.navbar-brand, #subtitle, .about-name, .about-intro, .mc-font{
    font-family: 'Minecraft-Regular';
}

.responsive-video-container {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
    height: 0;
    margin-left: 10%;
    overflow: hidden;
    max-width: 80%;
}
  
.responsive-video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}