@font-face {
    font-family: 'Minecraft-Regular';
    src:url('../fonts/Minecraft-Regular.ttf.woff') format('woff'),
        url('../fonts/Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
        url('../fonts/Minecraft-Regular.ttf.eot'),
        url('../fonts/Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.navbar-brand, #subtitle, .about-name, .about-intro, .mc-font{
    font-family: 'Minecraft-Regular';
}
